{% extends "admin/change_list.html" %}
{% load admin_urls i18n %}

{% block object-tools %}
  <ul class="object-tools">
    {% url opts|admin_urlname:"overview" as overview_url %}
    <li><a href="{{ overview_url }}">{% trans "Overview" %}</a></li>
    {% if has_add_permission %}
      <li>
        {% url opts|admin_urlname:"add" as add_url %}
        <a href="{{ add_url }}{% if is_popup %}?_popup=1{% endif %}" class="addlink">
          {% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}
        </a>
      </li>
    {% endif %}
  </ul>
{% endblock %}
